body {
  background-color: #eee;
}

.card {
  border: 0.5px solid black;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.card p {
  margin: 0;
}

.card > * {
  padding: 16px;
}

.card .header {
  background-color: rgb(228, 88, 53);
  font-weight: bold;
  font-size: 22px;
}

.card .header .time {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.card .buttons {
  padding: 16px 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card .buttons button {
  background: none;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

.card .buttons button.wrong {
  border: 2px solid #e74c3c;
  color: #e74c3c;
}
.card .buttons button.right {
  border: 2px solid green;
}

.card-collection {
  position: relative;
  width: fit-content;
  width: 300px;
}

.card-collection .card {
  width: 100%;
}

.card-collection .card:nth-child(1) {
  position: relative;
  z-index: 4;
  margin: 0;
}

.card-collection .card:nth-child(2) {
  position: absolute;
  transform: translate(5px, -101%) rotate(1.5deg);
  z-index: 2;
}

.collection-squared {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.container {
  background-color: #fff;
  margin: 1px solid #000;
  padding: 20px;
  z-index: 0;
}

.container.grey {
  background-color: #eee;
}

input[type="text"].search {
  padding: 10px 16px;
  outline: none;
  border: 1px solid #000;
  border-radius: 20px;
  margin: 0 !important;
}
